body {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  font-size: 22px;
  font-family: Helvetica;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Header*/
header {
  background-color: black;
  align-items: center;
  z-index: 1;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

a {
  color: white;
}

.logo img {
  height: 50px;
  margin-left: 10px;
  margin-right: 700px;
}

nav span {
  display: inline-block;
  padding: 0px 10px;
}

/*Content*/
.main {
  padding-top: 70px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  z-index: 10;
}

/*Content - Mission*/

#mission {
  height: 700px;
  background-image: url(/Users/thomasbishop/Documents/Projects/teacozy/resources/images/img-mission-background.jpg);
}

#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
  text-align: center;
}

/*Content - Featured Teas*/
.container .tea {
  width: 1000px;
}

.tea img{
  height: 200px;
  width: 300px;
}
